version: '3.5'

services:

 web:
    image: '{{APP_IMAGE_NAME}}'
    networks:
      - backend
    ports:
      - 80:80
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 0
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure

networks:
    backend:

